* {
    margin: 0;
    padding: 0;
}

.body-section {
    width: 100%;
    height: 70px;
    background-color: aquamarine;
}

.main-section {
    display: flex;

    width: 100%;
}

.left-side {
    padding: 5px;
    width: 10%;
    height: 100vh;
    background-color: rgb(83, 255, 198);
}

.left-side ul li {
    padding: 5px;
    border-bottom: 1px solid black;
}


.left-side ul li a {
    text-decoration: none;
    color: black;
}

.right-side {
    width: 90%;
    height: 100vh;
    
}